.cs_cctv_modal1,
.cs_cctv_modal2,
.cs_cctv_modal3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: none;
    background-color: white;
    z-index: 9999;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* 어두운 배경 설정 */
    z-index: 9998; /* 모달보다 하나 낮은 z-index 설정 */
    display: none; /* 초기에는 숨겨진 상태 */
}

.cs_cctv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cs_cctv_map{
    border: 2px solid black;
    width: 70vw;
    height: 80vh;
    position: relative;
    z-index: 1;
    background-color: #f0f0f0;
}

.cs_cctv_info{
    margin-top: 10px;
}

/*region cctv marker Tracker 부분*/
.node {
    position: absolute;
    background-image: url(/image/cctvMarker.png);
    background-size: contain;

    cursor: pointer;
    width: 64px;
    height: 64px;
}

.tooltip {
    background-color: #fff;
    position: absolute;
    border: 2px solid #333;
    font-size: 25px;
    font-weight: bold;
    padding: 3px 5px 0;
    left: 65px;
    top: 14px;
    border-radius: 5px;
    white-space: nowrap;
    display: none;
}

.tracker {
    position: absolute;
    margin: -35px 0 0 -30px;
    display: none;
    cursor: pointer;
    z-index: 3;
}

.icon {
    position: absolute;
    left: 6px;
    top: 9px;
    width: 48px;
    height: 48px;
    background-image: url(/image/cctvMarker.png);
    background-size: contain;
}

.balloon {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/balloon.png);
    -ms-transform-origin: 50% 34px;
    -webkit-transform-origin: 50% 34px;
    transform-origin: 50% 34px;
}
/*endregion*/