table td {
    text-align: left;
    padding-left: 10px;
}
table td input[type='text'] {
    width: 180px;
    box-sizing: border-box;
}

table td input[type='text'] {
    /* width: 50%; */
    /* height: 65%; */
    /* font-size: 15px; */
    margin-right: 10px;
}

.required-label {
    font-weight: bold;
    color: red;
    margin-left: 4px;
}

.input-fixed {
    width: 100px;
    box-sizing: border-box;
}
.input-wide {
    width: 80%;
    box-sizing: border-box;
}

.required-mark {
    color: red;
    font-size: 14px;
    margin-left: 4px;
}
.required-sup {
    color: red;
    font-size: 10px;
    vertical-align: super; /* 윗첨자처럼 */
    margin-left: 2px;
}

.input-wrapper {
    display: flex;
    align-items: center;
}

.input-wrapper input {
    width: 250px; /* 입력창 길이 고정 */
    box-sizing: border-box;
}

.input-description {
    margin-left: 10px; /* input 오른쪽 간격 */
    font-size: 12px; /* 글자 작게 */
    line-height: 1.4;
    color: #666;
}
