/* >>> CSS Document */

/* * { */
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
/* } */

html,
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 0px;
    font-family: 'Nanum Square';
    overflow: hidden;
}
/* <<< CSS Document */

/* >>> Session Auth CSS */
.cs_admin {
    color: greenyellow !important ;
    background-color: yellowgreen !important;
    font-weight: bold !important;
    font-size: 14px !important;
}
/* <<< Session Auth CSS */

/* >>> Top Bar CSS */
.cs_top_bar {
    width: 100%;
    height: 45px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 220px;
    vertical-align: top;
    text-align: center;
    font-size: 24px;
    line-height: 45px;
    font-weight: bold;
}

.cs_logo {
    position: absolute;
    font-size: 9px;
    bottom: -10px;
    right: 10px;
}

.cs_top_bar_news {
    width: 100%;
    height: 45px;
    background-color: #fff;
    position: absolute;
    top: 45px;
    left: 220px;
    box-shadow: 0px 0px 10px 1px #bfc0ba;
}

.cs_top_news_img {
    width: 150px;
    position: absolute;
    left: 0px;
    bottom: -7.5px;
    background-image: url(/image/newsSubTitle.png);
    z-index: 100;
}

.cs_top_bar_submenu {
    width: 100%;
    height: 45px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 220px;
    box-shadow: 0px 0px 10px 1px #bfc0ba;
    display: none;
}

.cs_sub_link {
    width: 150px;
    height: 100%;
    font-size: 16px;
    line-height: 45px;
    cursor: pointer;
    font-weight: 700;
    color: #707070;
    text-align: center;
    position: relative;
    z-index: 1001;
}

.cs_sub_link.active {
    font-weight: 800;
}

.cs_sub_link:hover .cs_sub_ul {
    display: flex;
}

.cs_sub_ul {
    position: absolute;
    top: 45px;
    left: 10px;
    display: none;
    z-index: 1;
    width: 600px;
}

.cs_sub_btn {
    width: 110px;
    height: 30px;
    border: 1px solid #bcbcbc;
    background-color: #fff;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: #bcbcbc;
    cursor: pointer;
}

.cs_sub_btn.active {
    border: 1px solid #bddbff;
    color: #bddbff;
    font-weight: bold;
}

/* <<< Top Bar CSS */

/* >>> Main Menu CSS */
.cs_menu {
    width: 220px;
    height: 100%;
    position: absolute;
    left: 0px;
    display: inline-block;
    z-index: 2000;
}

.cs_icon_box {
    height: 215px;
    padding: 10px;
    cursor: pointer;
}

.cs_menu .cs_icon_box .cs_icon {
    height: 70%;

    background-image: url('/image/menu_icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45% 65%;
}

.cs_menu .cs_icon_box .cs_title {
    height: 30%;

    font-size: 26px;
    text-align: center;
    color: #ffffff;
}

.cs_icon_line {
    border-bottom: 2px solid rgba(255, 255, 255, 0.45);
    width: 85%;
    margin: 0 auto;
}

.cs_menu_list {
    height: 60px;
    cursor: pointer;
}

.cs_logout {
    width: 220px;
    height: 40px;
    position: fixed;
    bottom: 0px;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cs_name {
    color: #8f5fef;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    width: 220px;
    height: 20px;
    position: fixed;
    bottom: 40px;
}

.cs_menu_scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

/* <<< Main Menu CSS */

/* >>> Pop Up CSS */
.cs_popup {
    position: absolute;
    right: -360px;
    top: 45px;
    width: 360px;
    height: calc(100vh - 45px);
    background-color: #fff;
    box-shadow: -1px -1px 1px 0px #ccc;
    z-index: 1000;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cs_successMessage {
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 13%;
    width: 75%;
    background-color: #eee;
    border-radius: 18px;
    z-index: 1;
    display: none;
}

.cs_popup .cs_pBtn {
    position: absolute;
    width: 40px;
    height:40px;
    background-image: url(../image/popup_close.png);
    cursor: pointer;
    top: 0;
    left: -40px;
    z-index: 1001;
}

.gOpen {
    width: 174px;
    height: 30px;
    cursor: pointer;
    position: relative;
    left: 50%;
    background-image: url(/image/graph_close.png);
}

.gClose {
    width: 174px;
    height: 30px;
    cursor: pointer;
    position: relative;
    left: 50%;
    background-image: url(/image/graph_open.png);
}

.cs_popup .cs_pTitle {
    width: 360px;
    height: 75px;
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #4e4e4e;
    cursor: default;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cs_popup .cs_pCateTab {
    width: 360px;
    height: 46px;
    background-color: #f7f7f7;
    font-size: 0px;
}

.cs_popup .cs_pCate {
    width: 20%;
    height: 46px;
    display: inline-block;
    background-color: #f7f7f7;
    font-size: 12px;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    color: #6d6d6d;
    cursor: pointer;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cs_popup .cs_pCate.active {
    background-color: #fff;
    font-weight: bold;
}

.cs_popup .cs_pContent {
    height: 100%;
    font-size: 12px;
    overflow-y: auto;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cs_popup .cs_dataForm {
    height: 100%;
    /* background-color: #6c34dd; */
}

.cs_popup .cs_alertP {
    margin-top: 5px;
    margin-bottom: 5px;
    /* color: #fff; */
}

.cs_pContent .cs_pLargeTitle {
    position: relative;
    padding: 10px;
    cursor: pointer;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    background-color: #f2f2f2;
    font-size: 12px;
}

.cs_pContent .cs_pASTitle {
    padding: 10px;
    cursor: default;
}

.cs_popup .cs_pSubTitle {
    height: 50px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.cs_popup .cs_status {
    width: 10px;
    height: 10px;
    border-radius: 20px;
}

.cs_popup .cs_status#normal {
    background-color: #0024ff;
}

.cs_popup .cs_status#error {
    background-color: #eb0000;
}

.cs_popup .cs_popuptable {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cs_popup .cs_popuptable th {
    height: 30px;
    font-size: 12px;
    background-color: #fff;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

.cs_popup .cs_popuptable td {
    height: 30px;
    line-height: 30px;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cs_popuptable.rainPopup {
    border-top: 1px solid #42569d;
    border-bottom: 1px solid #42569d;
}

.cs_popuptable.rainPopup th {
    color: #40569f;
}

.cs_popuptable.waterPopup {
    border-top: 1px solid #2f9fdf;
    border-bottom: 1px solid #2f9fdf;
}

.cs_popuptable.waterPopup th {
    color: #5baee4;
}

.cs_popuptable.dplacePopup {
    border-top: 1px solid #a5614a;
    border-bottom: 1px solid #a5614a;
}

.cs_popuptable.dplacePopup th {
    color: #a5614c;
}

.cs_popuptable.soilPopup {
    border-top: 1px solid #a5614a;
    border-bottom: 1px solid #a5614a;
}

.cs_popuptable.soilPopup th {
    color: #a5614c;
}

.cs_popuptable.tiltPopup {
    border-top: 1px solid #a5614a;
    border-bottom: 1px solid #a5614a;
}

.cs_popuptable.tiltPopup th {
    color: #a5614c;
}

.cs_popuptable.snowPopup {
    border-top: 1px solid #8643ae;
    border-bottom: 1px solid #8643ae;
}

.cs_popuptable.snowPopup th {
    color: #8643ae;
}

.cs_popuptable.floodPopup {
    border-top: 1px solid #f94045;
    border-bottom: 1px solid #f94045;
}

.cs_popuptable.floodPopup th {
    color: #f94045;
}

.cs_popuptable.gatePopup {
    border-top: 1px solid #e46ba1;
    border-bottom: 1px solid #e46ba1;
}

.cs_popuptable.gatePopup th {
    color: #e46ba1;
}

.cs_popuptable.displayPopup {
    border-top: 1px solid #ffb300;
    border-bottom: 1px solid #ffb300;
}

.cs_popuptable.displayPopup th {
    color: #ffb300;
}

.cs_popuptable.broadPopup {
    border-top: 1px solid #f3722c;
    border-bottom: 1px solid #f3722c;
}

.cs_popuptable.broadPopup th {
    color: #f3722c;
}

.cs_popuptable.alertPopup {
    border-top: 1px solid #9e0000;
    border-bottom: 1px solid #9e0000;
}

.cs_popuptable.alertPopup th {
    color: #9e0000;
}

.cs_popup .cs_radarImage {
    margin-bottom: 10px;
    height: 320px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-top: 1px solid #3d3d3d;
    border-bottom: 1px solid #3d3d3d;
}

.cs_popuptable.content {
    border-top: 1px solid #42569d;
    border-bottom: 1px solid #42569d;
}

.cs_popuptable.content th {
    color: #40569f;
}

.cs_popuptable.content select {
    width: 95%;
    height: 95%;
}

.cs_popuptable.list {
    border-top: 1px solid #42569d;
    border-bottom: 1px solid #42569d;
}

.cs_popuptable.list th {
    color: #40569f;
}

.cs_popuptable.way {
    border-top: 1px solid #42569d;
    border-bottom: 1px solid #42569d;
}

.cs_popuptable.way th {
    color: #40569f;
}

.cs_radarPart {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.cs_satlePart {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.cs_radarPart .cs_pRadarTitle {
    height: 50px;
    margin-left: 1px;
    display: block;
    background-repeat: no-repeat;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cs_satlePart .cs_pSatleTitle {
    height: 50px;
    margin-left: 1px;
    display: block;
    background-repeat: no-repeat;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cs_alertPart {
    width: 100%;
    height: 100%;
    position: relative;
}

.cs_alertPopup {
    padding-left: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.cs_alertComent {
    animation: fadeInDown 1s;
    margin-top: 5px;
    /* color: #fff; */
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
/* Popup Icon Document */
/* Delete */
@font-face {
    font-family: 'GF0W3';
    font-style: normal;
    font-weight: 300;
    src: url(/font/googleIcon/F0W3.woff2) format('woff2');
}
@font-face {
    font-family: 'GF1W3';
    font-style: normal;
    font-weight: 300;
    src: url(/font/googleIcon/F1W3.woff2) format('woff2');
}
@font-face {
    font-family: 'GF0W7';
    font-style: normal;
    font-weight: 300;
    src: url(/font/googleIcon/F0W7.woff2) format('woff2');
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/font/googleIcon/googleIcon.woff2) format('woff2');
}

.material-symbols-outlined {
    margin-top: 5px;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga';
		-webkit-font-smoothing: antialiased; */
    cursor: pointer;
}

.material-symbols-outlined.build,
.material-symbols-outlined.support_agent,
.material-symbols-outlined.autorenew {
    font-family: 'GF0W3';
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0 'opsz' 48;
}

.material-symbols-outlined.delete,
.material-symbols-outlined.handyman {
    font-family: 'GF1W3';
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 48;
}

.material-symbols-outlined.repeat,
.material-symbols-outlined.mood,
.material-symbols-outlined.sentiment_very_dissatisfied {
    font-family: 'GF0W7';
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0 'opsz' 48;
}

.material-symbols-outlined.psychology_alt {
    font-family: 'Material Icons';
    font-size: 30px;
}

.material-symbols-outlined.help {
    font-family: 'GF0W3';
    font-size: 20px;
}

.material-symbols-outlined.settingA {
    position: absolute;
    top: 2px;
    left: 147px;

    font-family: 'GF0W7';
    font-size: 70px;

    animation: rotating 3s linear infinite;
    transform-origin: 50% 50%;
}

.material-symbols-outlined.settingB {
    position: absolute;
    top: 25px;
    left: 203px;

    font-family: 'GF0W7';
    font-size: 50px;

    animation: rotatingR 3s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotating {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotatingR {
    100% {
        transform: rotate(-360deg);
    }
}

.material-symbols-outlined.close {
    font-family: 'Material Icons';
    font-size: 20px;
}

.cs_titleInGoogleIcon {
    display: flex;
    align-items: center;
}

.cs_equipIcon {
    position: relative;
    height: 120px;
    margin-top: 30px;
}

/*Popup Icon Document*/
/* <<< Pop Up CSS */

/* >>> Marker CSS */
.cs_info {
    width: 150px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.cs_info .cs_title {
    font-size: 14px;
    padding: 5px 0px;
    color: #fff;
    border-bottom: 1px solid #d9d9d9;
}

.cs_info .cs_infotable {
    margin: 0px;
}

.cs_info .cs_infotable th {
    width: 65px;
    height: 25px;
    color: #fff;
    border-bottom: 1px solid #d9d9d9;
}

.cs_info .cs_infotable td {
    width: 65px;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #d9d9d9;
}

.cs_info .cs_viewBtn {
    height: 25px;
    width: 100%;
    color: #fff;
    cursor: pointer;
}

.cs_info .cs_viewBtn.rain:hover {
    background-color: #2d3d74;
}
.cs_info .cs_viewBtn.water:hover {
    background-color: #1f77ac;
}
.cs_info .cs_viewBtn.dplace:hover {
    background-color: #734333;
}
.cs_info .cs_viewBtn.snow:hover {
    background-color: #633280;
}
.cs_info .cs_viewBtn.alert:hover {
    background-color: #bc541b;
}
.cs_info .cs_viewBtn.display:hover {
    background-color: #d89805;
}
.cs_info .cs_viewBtn.gate:hover {
    background-color: #c35988;
}
.cs_info .cs_viewBtn.flood:hover {
    background-color: #c93034;
}
/* <<< Marker CSS */

/* >>> Align CSS */
.cs_centerMiddle {
    /* 상하좌우 정중앙 정렬하기 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 가로축 */
    align-content: center; /* 세로축 */
    width: 80%; /* 좌측메뉴만큼 조금 줄여줌 */
    height: 90%; /* 상단메뉴만큼 조금 줄여줌 */
}
/* <<< Align CSS */

/* >>> Font CSS */
.cs_silver {
    color: #bcbcbc;
}
.cs_h0 {
    font-size: 40pt;
}
.cs_h1 {
    font-size: 32pt;
}
.cs_h2 {
    font-size: 26pt;
}
.cs_h3 {
    font-size: 22pt;
}
.cs_h4 {
    font-size: 20pt;
}
/* <<< Font CSS */

/* >>> Summernote CSS */
.cs_summernote {
    float: left;
}
.cs_summernote_img {
    float: left;
}
/* <<< Summernote CSS */

label.calendar {
    display: inline-block;
    color: #ffffff;
    width: 50px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    height: 18px;
}
.sDate_css {
    width: 100px;
    height: 20px;
    margin-left: 5px;
    text-align: center;
}
