###############################################################################

<IfModule rewrite_module>
RewriteEngine On
#RedirectMatch 404 /test.php
RedirectMatch 404 /\.git
RewriteRule "^(.*/)?\.git/" - [F,L]
</IfModule>

###############################################################################
# CORS 설정
# 이 설정은 localhost:5173 에서 오는 요청에 대해 CORS를 허용
<IfModule mod_headers>
    Header always set Access-Control-Allow-Origin "http://localhost:5173"
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS, DELETE, PUT"
    Header always set Access-Control-Allow-Headers "DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization"
    Header always set Access-Control-Allow-Credentials "true"
</IfModule>
# OPTIONS 요청 처리
<IfModule mod_rewrite>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [R=200,L]
</IfModule>
# OPTIONS 요청 처리
RewriteEngine On
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]

###############################################################################
# CORS 설정
# 이 설정은 localhost:5173 에서 오는 요청에 대해 CORS를 허용
<IfModule mod_headers>
    Header always set Access-Control-Allow-Origin "http://192.168.80.80:5173"
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS, DELETE, PUT"
    Header always set Access-Control-Allow-Headers "DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization"
    Header always set Access-Control-Allow-Credentials "true"
</IfModule>
# OPTIONS 요청 처리
<IfModule mod_rewrite>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [R=200,L]
</IfModule>
# OPTIONS 요청 처리
RewriteEngine On
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]

###############################################################################

# 아래와 같은 config 설정들은 php.ini 에서만 하도록 한다
# .htaccess, httpd.conf, php 소스에서는 하지 않도록 한다
# php_flag display_errors Off
# php_value upload_max_filesize 40M
# SetEnv APACHE_ENV_TEST local
# SetEnv HTACCESS on

###############################################################################
# 여기서부터는 파일 제일 아래에 놓기
# .well-known 디렉토리 접근 허용
<Files "com.chrome.devtools.json">
    Order allow,deny
    Allow from all
    Require all granted
</Files>

# .env 파일 차단
<FilesMatch "^\.env">
    Require all denied
</FilesMatch>
<Files .env>
    Deny from all
</Files>
